:root {
    --color-night: #121619;
    --color-brunswick: #2d4739;
    --color-sea: #09814a;
    --color-vanilla: #e4d6a7;
    --color-aquamarine: #95f9e3;

    --color-font-light: #fde3e3;
    --color-font-dark: #01091c;
}
