:root {
    --color-night: #121619;
    --color-brunswick: #2d4739;
    --color-sea: #09814a;
    --color-vanilla: #e4d6a7;
    --color-aquamarine: #95f9e3;

    --color-rich-blue: #000814;
    --color-oxford-blue: #46b050;
    --color-yale-blue: #003566;
    --color-yale-blue-highlight: #0c5395;
    --color-nyanza: #ddffd9;
    --color-lavender: #ccc9dc;
    --color-flax: #e3d87e;

    --color-font-light: #fde3e3;
    --color-font-dark: #01091c;
}
